.ql-paste-manager {
    left: -10000px;
    position: absolute;
    top: 50%;
}

#sections, pre {
    float: left;
    margin-left: 14px;
    width: 400px;
}

pre {
    font-size: 10px;
    overflow-x: scroll;
}

.section {
    border: 1px solid #ccc;
    padding: 6px;
}
